<div class="main"><h1>НОЧНОЙ РЕЖИМ</h1> </div>
<div class="first-comp"><h2>ПЕРИОДЫ СНА:</h2> </div>
<div class="sleep">
  <h2 class="sl">ХОЧУ ПРОСНУТЬСЯ В:</h2><input class="time" type="time" value="06:00"> <button class="tim">0h:25min</button>
  <button class="tim">1h:45min</button><button class="tim">3h:15min</button><button class="tim">4h:45min</button>
  <button class="tim">6h:15min</button><button class="tim">7h:45min</button><button class="tim">9h:15min</button>
</div>
<div class="sleep">
  <h2 class="sle">ХОЧУ ЗАСНУТЬ В:</h2><input class="time" type="time" value="23:00"> <button class="tim">0h:25min</button>
  <button class="tim">1h:45min</button><button class="tim">3h:15min</button><button class="tim">4h:45min</button>
  <button class="tim">6h:15min</button><button class="tim">7h:45min</button><button class="tim">9h:15min</button>
</div>
<div> 
  <h2>ЗВУКИ ДЛЯ СНА</h2>
  <button class="vois">лес</button><button class="vois">дождь</button><button class="vois">ветер</button>
  <button class="vois">волны</button><button class="vois">огонь</button><button class="vois">листья</button>
  <button class="vois">ход часов</button><button class="vois">ливень</button>
</div>
<div class="scroll"></div>
<hr>

<div>
  <h3>сон:</h3>

  <h3>учёба/работа:</h3>

  <h3>свободное время:</h3>

  <h3>спорт:</h3>

  <h3>рутина:</h3>

  <h3>другие дела:</h3>
  
</div>